# Expo / Metro
.expo/
.expo-shared/
dist/
web-build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Native build artifacts
ios/
android/

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
